html {
	background-color: #D60000;
}
h1{
	font-family: "AR Destine";
}
h3 {
	font-style: italic;
}
p{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 30px;
	margin-left: 50px;
}
body{
	margin-bottom: 80px;
}
table{
	border-spacing: 1rem;
}
.site-footer{
	position: absolute;
	bottom: 0px;
	text-align: center;
}
#footer{
width: 100%;
height: 28px;
position: absolute;
bottom: 0px; 
left: 0px; 
text-align: center; 
} 
